<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium WebDriver" verbose="1" parallel="methods" thread-count="6">

<!--    Muốn chạy bao nhiêu test case cùng lúc thì set thread-count bằng số lượng test case muốn chạy-->

    <test name="Run on Firefox browser">
        <classes>
            <class name="testng.Topic_12_Parallel_Method"></class>
        </classes>
    </test>
    
</suite>